@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  a{
    text-decoration: none;
  }

  body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

  .topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }

  .navbar {
    display: flex;
    gap: 40px;
  }

.navbar-item {
    font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
  }

  .conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
  }


  .conteudo-principal   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    float: left;
    padding-top: 230px;
    padding-left: 150px;


  }

  .conteudo-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
    float: left;

  }

.conteudo-titulo{
    font-family: 'Righteous', cursive;
  font-weight: 300;
  font-size: 54px;
  color: #FFF2E7;
  }

 .conteudo-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #ECD6C4;
  }



  

  .conteudo-secundario {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
      margin-top: 48px;
      float: right;
      padding-right: 100px;
      padding-top: 60px;
      margin-bottom: 80px;
  }


  
  .conteudo-img {
    display: flex;
    float: right;

  }

.foto-perfil {
    height: 400px;
    border-radius: 200px;
    
}



/* sobre */

.paragrafo-sobre{
margin: 80px;

}
.box-text1{
    display: flex;
    font-family: 'Righteous', cursive;
    width: 600px;
    color: #ECD6C4;
    text-align: justify;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    
}

.box-text2{
  display: flex;
  font-family: 'Righteous', cursive;
  width: 600px;
  color: #ECD6C4;
  text-align: justify;
  margin-top: 50px;
  margin-left: 100px;
  float: left;
}


.box-text3{
    display: flex;
    font-family: 'Righteous', cursive;
    width: 600px;
    color: #ECD6C4;
    text-align: justify;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    
}



.box-img {
    display: flex;
    float: right;
    width: 500px;
    margin-bottom: 30px;
   

}


.foto-sobre{
    display: flex;
    float: right;
    float: right;
    width: 100%;
    

}


.embreve{
  width: 800px;
  text-align: center;
  display: flex;
  font-family: 'Sarala', sans-serif;
  color: #ECD6C4;
  margin-top: 300px;
  margin-left: 700px;
}
